body {
	font: "Helvetica", "Arial", sans-serif;
	text-align: justify;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	grid-template-rows: minmax(100px auto);
}

.input {
	grid-column: 1/4;
	grid-row: 1;
}

#search-input {
	height: 2em;
	font-size: 2em;
	background: lightgreen;
}

.logo {
	grid-column: 4;
	grid-row: 1;
}

.main {
	grid-column: 1/5;
	grid-row: auto;
}

.ais-search-box {
	max-width: 90%;
}

.hit h3 {
	padding: 1em 1em;
	background: #eee;
	font-size:1.6em;
}

.hit-text {
	line-height:1.4;
	font-size: 1.2em;
	width: 100%;
	background: white;
}

a {
	word-wrap: break-word;
	max-width: 100%;
}

em {
	font-size:2rem;
	background: cyan;
}
