.body {
	font: "Helvetica", "Arial", sans-serif;
	background: #eee;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	grid-template-rows: minmax(100px auto);
}

.input {
	grid-column: 1/4;
	grid-row: 1;
}

.logo {
	grid-column: 4;
	grid-row: 1;
}

.main {
	grid-column: 1/5;
	grid-row: auto;
}

#search-input {
	height: 2em;
	font-size: 2em;
}

.ais-search-box {
	max-width: 90%;
}

.hit h3 {
	padding: 1em 1em;
	background: #eee;
	font-size:1.6em;
}

.hit-text {
	text-align: justify;
	line-height:1.4;
	font-size: 1.2em;
	max-width: 80em;
	margin: 2em auto;
	background: white;
}

.hit-text em {
	font-size:2em;
}
